	<div class="{{.display_view}}" style="background-image: url('{{.imageUrl}}')">
          <div class = "mw5" style = "text-align:left; font-size:30px; word_break:keep-all">
            {{ if .text }}
            <p class="b f4 di lh-title mb3 white mw6 bg-primary">
              {{.text}}
            </p>
            {{ end }}
          </div>
			<div class="black-bg">
    			<div class="padded-div container">
          			<h3>{{.text_one}}</h3>
          			<h4>{{.text_two}}</h4>
          			<h4></h4>
    			</div>
			</div>
		</div>
		
		