<section id="fhwa" class="{{.color}}-bg text-block text-{{.text_position}}">

     <div class="container content pad100">
        <div class="row">
            <div class="col-md-6">
            	<img class="col-md-6" src="{{.imageUrl_i}}">
                <div style ="margin:left: 500em;">
                    <img class="col-md-3"  style ="margin:left: 50em;" src="{{.imageUrl_iii}}">
                    <img class="col-md-3" src="{{.imageUrl_iv}}">
                </div>
                <h3  class ="col-md-6">{{.title}}</h3>
                    <p style = "color:black">{{.subtitle}}</p>
                    <p style = "color:black">{{.text_i}}</p>
                    <p style = "color:black">{{.text_ii}}</p>
            </div>
            <div class="col-md-6">
                <img  class ="img-responsive" src="{{.imageUrl_ii}}" alt="">
            </div>
          </div>
    </div>
</section>