
<div class="navbar navbar-fixed-top navbar-default">
	<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/"><img src="/img/logo.png"></a>
		</div>
		
		<div class="collapse navbar-collapse pull-right" id="main-nav">
			<ul class="nav navbar-nav">
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
				<!-- <li><a href="/freeflow">Products</a></li> -->
				<li><a href="/products">Projects</a></li>
				<li class="dropdown"><a href="/api" class="dropdown-toggle" data-toggle="dropdown">APIs  <b class="caret"></b></a>
					<ul class="dropdown-menu" role="menu">
							<li><a href="/api">Overview</a></li>
							<li><a href="http://bds.availabs.org">Business Dynamics Statistics</a></li>
							<li><a href="http://zbp.availabs.org">Zip Business Patterns</a></li>
						</ul>
					</li>
				<li><a href="http://blog.availabs.org/" target=_blank>Blog</a></li>
			</ul>
		</div>
	</div>
</div>