<section class="orange-bg text-left">
  <div class="customer-logos">
      <div style="width:10%"></div>
      <img style="width:10%" src="/img/nys-dot_logo.png">
      <img style="width:10%" src="/img/nymtc-logo.png">
      <img style="width:10%" src="/img/dot_logo_vector.png">
      <img style="width:10%" src="/img/njtransit.png">
      <img style="width:10%" src="/img/usdot-fhwa.png">
      <img style="width:10%" src="/img/kauffman.png">
      <img style="width:10%" src="/img/mta-logo.png">
      <img style="width:10%" src="/img/utrc-logo.png">
  </div>
</section>