<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative">

	<!-- Logo -->
	<a href="/" class="pa3 db mr4 h-100 w3 flex-none">
		<img src="/img/logo.png" alt="Kaldi logo" class="br0 db mb0 w-100"/>
	</a>

	<!-- Primary Nav -->
	<ul class="flex b grey-3">
		<li><a href="/" class="pa3 no-underline db nav-font">Home</a></li>

		<li><a href="/about" class="pa3 no-underline db nav-font">About</a></li>

		<li><a href="/products" class="pa3 no-underline db nav-font" >Projects</a></li>
		<li class="dropdown">
			<a href="/api" class="pa3 no-underline db nav-font dropdown-toggle" data-toggle="dropdown">APIs<b class="caret"></b></a>
			<!-- <ul class="dropdown-menu" role="menu">
				<li><a href="/api">Overview</a></li>
				<li><a href="http://bds.availabs.org">Business Dynamics Statistics</a></li>
				<li><a href="http://zbp.availabs.org">Zip Business Patterns</a></li>
			</ul>	 -->
		<li>
		<li><a class="pa3 no-underline db nav-font" href="/blog">Blog</a></li>
	</ul>

</nav>
