    	<div class="{{.display_view}}" style="background-image: url('{{.imageUrl}}')">
          <div class = "col-12 col-push-1" style = "text-align:left; font-size:30px; word_break:keep-all">
            {{ if .text }}
            <div class=" da-slide da-slide-current text2">
            <h2 class='title-background'>
              {{.text}}
            </h2>
            <h2 class='title-space'>&nbsp
            </h2>
            <h2 class='title-background'>
              {{.text2}}
            </h2>
            </div>
            {{ end }}
            
          </div>
			<div class="black-bg">
    			<div class="padded-div container">
          			<h3>{{.text_one}}</h3>
          			<h4>{{.text_two}}</h4>
          			<h4></h4>
    			</div>
			</div>
		</div>
		
		
