<section class="green-bg dark">
<div class="container">
      <h2 class="with-border">Projects</h2>
      <ul class="thumbnails">
        <li class="col-md-4">
            <div class="thumbnail">
                <div class="img-wrap">  <a href="/project#njtransit">

                <div class="black-bg">

                  <i class="glyphicon glyphicon-zoom-in"></i>

                </div>
  
                <img src="/img/njtdm.jpg" alt="" rel="gal" class="img-responsive">

              </a>
                </div>  <a href="/project#njtransit">
              <h3 class="with-border color">Transit Demand Modeling</h3>


            </a>
            </div>
        </li>
        <li class="col-md-4">
            <div class="thumbnail">
                <div class="img-wrap">  <a href="/project#fhwa">

                <div class="black-bg">

                  <i class="glyphicon glyphicon-zoom-in"></i>

                </div> 
               
                <img src="/img/hpms.jpg" alt="" rel="gal" class="img-responsive">

              </a>
                </div>  <a href="/project#fhwa">

              <h3 class="with-border color">Federal Highways Web-based Data</h3>



            </a>
            </div>
        </li>
        <li class="col-md-4">
            <div class="thumbnail">
                <div class="img-wrap">  <a href="http://nysmesonet.org/" target="_blank">

                <div class="black-bg">

                  <i class="glyphicon glyphicon-zoom-in"></i>
                </div>
                
                <img src="/img/mesonet_home.jpg" alt="" rel="gal" class="img-responsive">
                </a>
            </div>  <a href="http://nysmesonet.org/" target="_blank">

              <h3 class="with-border color">New York State Mesonet</h3>
            </a>

          </div>
          </li>
          <li class="col-md-4">
            <div class="thumbnail">
                <div class="img-wrap">  <a href="http://gtfs.availabs.org/" target="_blank">

                <div class="black-bg">

                  <i class="glyphicon glyphicon-zoom-in"></i>

                </div>  

                <img src="/img/geogtfs.jpg" alt="" rel="gal" class="img-responsive">

              </a>
                </div>  <a href="http://gtfs.availabs.org/" target="_blank">

              <h3 class="with-border color">GTFS Analyst</h3>

              <!--<p>AVAIL is currently contracting with the states of Connecticut, Michigan, North Carolina, Pennsylvania and Texas through a FHWA pooled-fund study to develop data managment, analytics and visualization tools. The resulting Data Admin-Panel is a next generation technology.</p>-->

            </a>
            </div>
            </li>

            <li class="col-md-4">
            <div class="thumbnail">
                <div class="img-wrap"> <a href="/project#mta">

                <div class="black-bg">

                  <i class="glyphicon glyphicon-zoom-in"></i>

                </div>  

                <img src="/img/mta.jpg" alt="" rel="gal" class="img-responsive">

              </a>
                </div>  <a href="/project#mta">

              <h3 class="with-border color">MTA Real-Time Data Conversion</h3>

              <!--<p>AVAIL is currently contracting with the states of Connecticut, Michigan, North Carolina, Pennsylvania and Texas through a FHWA pooled-fund study to develop data managment, analytics and visualization tools. The resulting Data Admin-Panel is a next generation technology.</p>-->

            </a>
            </div>
            

            </li>
            <li class="col-md-4">
            <div class="thumbnail">
                <div class="img-wrap">  <a href="/project#npmrds">

                <div class="black-bg">

                  <i class="glyphicon glyphicon-zoom-in"></i>

                </div>  

                <img src="/img/traffic-congestion.jpg" alt="" rel="gal" class="img-responsive">

              </a>
                </div>  <a href="/project#npmrds">

              <h3 class="with-border color">Traffic Congestion Dashboard</h3>
            </a>
            </div>
            </li>

            
            <li class="col-md-4">
            <div class="thumbnail">
                <div class="img-wrap">  <a href="http://api.availabs.org/gtfs/" target="_blank">

                <div class="black-bg">

                  <i class="glyphicon glyphicon-zoom-in"></i>

                </div>  

                <img src="/img/geogtfs1.jpg" alt="" rel="gal" class="img-responsive">

              </a>
                </div>  <a href="http://api.availabs.org/gtfs/" target="_blank">

              <h3 class="with-border color">GeoGTFS API</h3>

            </a>
            </div>
            </li>
            
            <li class="col-md-4">
            <div class="thumbnail">
                <div class="img-wrap">  <a href="/project#kauffman">

                <div class="black-bg">

                  <i class="glyphicon glyphicon-zoom-in"></i>

                </div>  

                <img src="/img/kauffman.jpg" alt="" rel="gal" class="img-responsive">

              </a>
                </div>  <a href="/project#kauffman">

              <h3 class="with-border color">Kauffman Foundation Webtool</h3>

            </a>
            </div>
            </li>

            <li class="col-md-4">
            <div class="thumbnail">
                <div class="img-wrap">  <a href="http://nysmesonet.org/" target="_blank">

                <div class="black-bg">

                  <i class="glyphicon glyphicon-zoom-in"></i>
                </div>
                
                <img src="/img/mesonet.jpg" alt="" rel="gal" class="img-responsive">
                </a>
            </div>  <a href="http://nysmesonet.org/" target="_blank">

              <h3 class="with-border color">NYS Mesonet Site Selection Web-Tool</h3>

              <!--s<p>AVAIL is building a state-of-the-art web portal for New York State's new hi-tech weather program.</p>-->

            </a>

          </div>
          </li>            
</ul>
</div>
</section>