.container>h2 {
  margin-top: 40px;
  margin-bottom: 25px;
}


h2.with-border {
  color: #5d5d5d;
  border-bottom: 2px solid #5d5d5d;
  box-shadow: 0 2px 0 0 #4d5f65;
}

h2 {
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 300;
}

.parallax-small-title {
	background-color:rgba(50,50,50,0.6);
	border-radius: 2px;
	margin-bottom: 10px; 
}

.nav-font {
	font-size: 0.8rem; 
}

.footer-bg {
	background-color: #5d5d5d;
}

.section-link {
	color: #fff;
	font-size: 0.75rem;
}

.info-section {
	padding: 20px;
	text-align: justify;
}

.staff-description {
	font-size: 0.8rem;
}

.staff-section {
	padding: 20px;
}

.project-link {
	color: #5d5d5d;
	font-size: 0.85rem;
}