{{ partial "head" . }}

{{ partial "nav" . }}

{{ partial "parralax-jumbotron" (dict "imageUrl" "/img/backgrounds/traffic2.jpg" "header_img" "/img/logo-big4.png") }}

{{ partial "color-info-block" (dict "title" "NPMRDS PM3 Tools" "text" "Multi-geographic PM3 measures by state, MPO, county, and urbanized area or by TMC, route, and corridor. Multi-temporal View Measures by year, month, and day. Fast Loading Times, where PM3 measures for the entire state load in under 1 second." "image" "/img/pm-3-1c.jpg" "linkText" "Find more information here." "linkUrl" "https://npmrds.availabs.org/landing" "color" "red")}}

{{ partial "projects_new" . }}

{{ partial "endorsements" . }}

{{ partial "color-info-block-right" (dict "title" "OPEN SOURCE CODE ON GITHUB" "text" "At the completion of every project, AVAIL makes all code available on Github, open source.." "image" "/img/geogtfs.jpg" "linkText" "Find more information here." "linkUrl" "https://github.com/availabs" "color" "blue")}}

{{ partial "parralax-small" (dict "imageUrl" "/img/backgrounds/traffic2.jpg" "heading" "DATA DRIVEN DISCOVERY FELLOWSHIPS" "text" "Join Our Lab as a Fellow to Work on a Data Problem that Interests You") }}

{{ partial "footer" . }}
